/* colours */
:root{
    --primary: #00695C;
    --secondary: #FFE1C4;
    --title: #fffdfd;
    --accent: #353535;
    --dark-color-a: #667aff;
    --dark-color-b: #7386ff;
    --light-color: #dce0fd;
    --light-color-b:#c8cefb;
    --success-color: #5cb85c;
    --error-color: #d9534f;
  }

  .text-right {
    text-align: right;
  }
  .mt-40{
    margin-top: 40px;
  }
  
  .error-text {
    color: var(--error-color);
    font-size: 12px;
    margin-left: 10px;
  }
  /* layout styles */
  nav{
    background-image: linear-gradient(-260deg, #390280, #003dad);
    /* background: var(--primary); */
    /* border-bottom: 10px solid var(--secondary); */
  }
  nav a{
    text-transform: uppercase;
    color: var(--title);
    margin-left: 5px;
  }
  nav a span{
    font-weight: bold;
  }
  nav .sidenav-trigger{
    margin: 0;
  }


  
  /* recipe styles */
  .recipes{
    margin-top: 20px;
  }
  /*.card-panel.recipe{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details delete";
    position: relative;
  }
  .recipe img{
    grid-area: image;
    max-width: 60px;
  }
  .recipe-details{
    grid-area: details;
    margin-top: 6px;
  }
  .recipe-delete{
    grid-area: delete;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .recipe-delete i{
    font-size: 18px;
  }
  .recipe-title{
    font-weight: bold;
  }
  .recipe-ingredients{
    font-size: 0.8em;
  } */
  .list li {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  .card-header{
    font-size: 16px;
    font-weight: 500;
  }
  
  /* form-styles */
  .add-btn{
    background: var(--title) !important;
  }
  input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .side-form button{
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
  }
  form .input-field{
    margin-top: 30px;
  }

  #chat-form button {
    background-image: linear-gradient(-260deg, #6715ce, #2873fc);
  }

  .btn, .btn:hover, .btn:active, .btn:active, .btn:focus{
    /* background: var(--accent); */
    background-image: linear-gradient(-260deg, #6715ce, #2873fc);
    width: 50%;
    box-shadow: 0 4px 10px 0 rgba(145,77,253,.3);
    border-radius: 50px;
  }

  .roomid {
    padding: 10px 25px;
    background: #fbe6e5;
  }

  .roomcode-field{
    margin-bottom: 10px!important;
  }

  /* Chat Page */

.chat-container {
	max-width: 1100px;
	/* background: #fff; */
	margin: 0 auto;
  overflow: hidden;
  
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	/* grid-template-columns: 1fr 3fr; */
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
  padding: 12px;
  margin-bottom: 15px;
  max-height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: linear-gradient(#ececec, #ffffff)
}

.chat-messages .message {
  text-align: right;
  padding: 2px 0 5px 2px;
  /* margin-bottom: 20px; */
  font-size: 16px;
  /* background-color: var(--light-color); */
  background-image: linear-gradient(-260deg, #fffcfc, #ffffff);
  border-radius: 40px 25px 0 40px;
  box-shadow: 2px 5px 12px 0 rgba(0,0,0,.2)
}

.chat-messages .message-sender {
  color: #ffffff;
  text-align: left;
  padding: 2px 0 0 2px;
  /* margin-bottom: 20px; */
  font-size: 16px;
  /* background-color: var(--light-color-b); */
  background-image: linear-gradient(-260deg, #6715ce, #2873fc);
  border-radius: 0 40px 40px 25px;
  box-shadow: 2px 5px 12px 0 rgba(11,46,109,.4);
}

.chat-messages .message .chat-text{
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 2px;
}

.chat-messages .message-sender .chat-text-sender{
  margin-top: -5px;
  margin-left: 20px;
}

.chat-messages .message .meta {
	font-size: 12px;
	font-weight: 400;
	color: var(--dark-color-b);
  opacity: 0.5;
  margin-top: 6px;
  margin-bottom: 7px;
  margin-right: 20px;
}

.chat-messages .message-sender .meta-sender {
  font-size: 12px;
	font-weight: 400;
	color: #cccccc;
  opacity: 0.6;
  margin-top: 6px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.chat-messages .message .meta p,  .chat-messages .message-sender .meta span {
  color: rgb(75, 75, 75);  
}

.chat-form-container {
	/* padding: 20px 30px; */
  /* background-color: var(--primary); */
  bottom: 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.chat-form-container form {
  display: flex;
  background: #ffffff;
  padding: 0 2px;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
  height: 40px;
  margin: 5px 5px 2px 0;
  text-indent: 40px;
  flex: 1;
  background: #e8e8e8;
  border-radius: 25px;
  box-shadow: none;
}
.timer {
  color: #ffffff;
  position: relative;
  left: 10px;
  top: 42px;
  background: #2971fb;
  padding: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.matcolor{
  /* border-radius: 50%; */
  padding: 4px;
  margin-top: 2px;
}

/* .chat-messages .message{
  position: relative;
  color: white;
  background: #0b93f6;
}


.chat-messages .message:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 24px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 20px 14px;
  --webkit-transform: translate(0, -2px);
}

.chat-messages .message:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -28px;
  width: 28px;
  height: 29px;
  background: #f3f3f3;
  border-bottom-left-radius: 10px;
  --webkit-transform: translate(-30px, -2px);
}


.chat-messages .message-sender {
  position: relative;
  background: #c2c2f1;
  color: black;
}

.chat-messages .message-sender:before {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #c2c2f1;
  border-bottom-right-radius: 16px 14px;
  --webkit-transform: translate(0, -2px);
}

.chat-messages .message-sender:after {
  content: '';
  position: absolute;
  z-index: 3;
  bottom: -1px;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #f3f3f3;
  border-bottom-right-radius: 10px;
  --webkit-transform: translate(-30px, -2px);
}  */





