/* colours */
:root{
    --primary: #00695C;
    --secondary: #FFE1C4;
    --title: #fffdfd;
    --accent: #353535;
    --dark-color-a: #667aff;
    --dark-color-b: #7386ff;
    --light-color: #dce0fd;
    --light-color-b:#c8cefb;
    --success-color: #5cb85c;
    --error-color: #d9534f;
  }
  .text-right {
    text-align: right;
  }
  .mt-40{
    margin-top: 40px;
  }
  
  .error-text {
    color: var(--error-color);
    font-size: 12px;
    margin-left: 10px;
  }
  /* layout styles */
  nav{
    /* background-image: linear-gradient(-260deg, #e8e8e8, #c3c3c3); */
    /* background: var(--primary); */
    /* border-bottom: 10px solid var(--secondary); */
    background-color: #ffffff !important;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  nav a{
    text-transform: uppercase;
    /* color: #5431dc; */
    background: -webkit-linear-gradient(-260deg, #2f68f6, #38b16b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
    margin-left: 5px;
  }
  nav a span{
    font-weight: bold;
  }
  nav .sidenav-trigger{
    margin: 0;
  }

 .theme-color {
   color: #6794f5;
   cursor: pointer;
 }
  .list li {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  .card-header{
    font-size: 16px;
    font-weight: 500;
  }
  
  /* form-styles */
  .add-btn{
    background: var(--title) !important;
  }
  input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .side-form button{
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
  }
  form .input-field{
    margin-top: 30px;
  }

  #chat-form button {
    /* background-image: linear-gradient(-260deg, #6715ce, #2873fc); */
    background-image: linear-gradient(-260deg, #349cb6, #5e8df7)
  }

  .btn, .btn:hover, .btn:active, .btn:active, .btn:focus{
    /* background: var(--accent); */
    background-image: linear-gradient(-260deg, #6715ce, #2873fc);
    width: 50%;
    box-shadow: 0 4px 10px 0 rgb(121, 163, 255);
    border-radius: 50px;
  }

  .roomid {
    padding: 10px 25px;
    background: #fbe6e5;
  }

  .roomcode-field{
    margin-bottom: 10px!important;
  }

  /* Chat Page */

.chat-container {
	max-width: 1100px;
	/* background: #fff; */
	margin: -30px auto 0;
  overflow: hidden;
  
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	/* display: grid; */
	/* grid-template-columns: 1fr 3fr; */
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
  padding: 12px;
  margin-bottom: 30px;
  max-height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-image: linear-gradient(#ececec, #ffffff); */
}

.chat-messages .message {
  text-align: right;
  padding: 2px 0 5px 2px;
  width: 70%;
  position: relative;
  /* right: 8px; */
  float: right;
  margin-bottom: 20px;
  margin-left: 30%;
  font-size: 16px;
  /* background-color: var(--light-color); */
  background-image: linear-gradient(-260deg, #fffcfc, #ffffff);
  border-radius: 40px 25px 0 40px;
  box-shadow: 2px 5px 12px 0 rgba(0,0,0,.2)
}

.chat-messages .message-sender {
  color: #ffffff;
  text-align: left;
  padding: 2px 0 0 2px;
  float: left;
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-right: 30%;
  font-size: 16px;
  /* background-color: var(--light-color-b); */
  background-image: linear-gradient(-260deg, #6938ca, #4788ff);
  border-radius: 0 40px 40px 25px;
  box-shadow: 2px 5px 12px 0 rgb(147, 177, 255);
}

.chat-messages .message-sender-two {
  color: #ffffff;
  text-align: left;
  padding: 2px 0 0 2px;
  float: left;
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-right: 30%;
  font-size: 16px;
  /* background-color: var(--light-color-b); */
  background-image: linear-gradient(-260deg, #3393c1, #40dc75);
  border-radius: 0 40px 40px 25px;
  box-shadow: 2px 5px 12px 0 rgb(144, 206, 181);
}

.chat-messages .message-sender-three {
  color: #ffffff;
  text-align: left;
  padding: 2px 0 0 2px;
  float: left;
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-right: 30%;
  font-size: 16px;
  /* background-color: var(--light-color-b); */
  background-image: linear-gradient(-260deg, #ea7067, #e367f7);
  border-radius: 0 40px 40px 25px;
  box-shadow: 2px 5px 12px 0 rgb(235, 152, 236);
}

.timeout-msg {
  color: #757575;
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
}

.timeout-msg p {
  text-align: center;
}

.time {
  color: #a9a9a9;
  font-size: 12px;
}

.time-sender {
  color: #e6e6e6;
  font-size: 12px;
}
 

.chat-text{
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 2px;
}

.chat-text-sender{
  margin-top: -5px;
  margin-left: 20px;
}

.meta {
	font-size: 12px;
	font-weight: 400;
	color: var(--dark-color-b);
  opacity: 0.5;
  margin-top: 6px;
  margin-bottom: 7px;
  margin-right: 20px;
}

.meta-sender {
  font-size: 12px;
	font-weight: 400;
	color: #ffffff;
  opacity: 0.6;
  margin-top: 6px;
  margin-bottom: 7px;
  margin-left: 20px;
}

.chat-messages .message .meta p,  .chat-messages .message-sender .meta span {
  color: rgb(75, 75, 75);  
}

.chat-form-container {
	/* padding: 20px 30px; */
  /* background-color: var(--primary); */
  bottom: 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.chat-form-container form {
  display: flex;
  background: #ffffff;
  padding: 0 2px;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
  height: 40px;
  margin: 5px 5px 2px 0;
  text-indent: 40px;
  flex: 1;
  background: #e8e8e8;
  border-radius: 25px;
  box-shadow: none;
  border: 1px solid #ffffff;
}
.timer {
  color: #ffffff;
  position: relative;
  left: 10px;
  top: 42px;
  background: #2971fb;
  padding: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.matcolor{
  /* border-radius: 50%; */  
  width: 25%;
  padding: 4px;
  margin-bottom: 2px;
}

/* .chat-messages .message{
  position: relative;
  color: white;
  background: #0b93f6;
}


.chat-messages .message:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 24px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 20px 14px;
  --webkit-transform: translate(0, -2px);
}

.chat-messages .message:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -28px;
  width: 28px;
  height: 29px;
  background: #f3f3f3;
  border-bottom-left-radius: 10px;
  --webkit-transform: translate(-30px, -2px);
}


.chat-messages .message-sender {
  position: relative;
  background: #c2c2f1;
  color: black;
}

.chat-messages .message-sender:before {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #c2c2f1;
  border-bottom-right-radius: 16px 14px;
  --webkit-transform: translate(0, -2px);
}

.chat-messages .message-sender:after {
  content: '';
  position: absolute;
  z-index: 3;
  bottom: -1px;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #f3f3f3;
  border-bottom-right-radius: 10px;
  --webkit-transform: translate(-30px, -2px);
}  */
input[type="text"]:disabled {
  background: #707070;
}

.score {
  float: right;
  font-weight: 600;
}


.typing p {
  /* padding: 5px 15px;
  background: #ccc;
  border-radius: 25px; */
  color: #000000;
}

.typing p:after{
  position: relative;
  content: ' ';
  animation: animate 2s ease-in-out infinite;
  
}

@keyframes animate {
  0% {
    content: ''
  }
  33% {
    content: '.'
  }
  67% {
    content: '..'
  }
  100% {
    content: '...'
  }
}

/* Footer */

.footer {
  margin-top: 50px;
}

.footer ul li{
  display: inline;
  padding: 4px;
  list-style-type: none;
}

.footer ul li a {
  color: #9e9e9e;
}

.footer ul li a:hover {
  color: #3d53ec;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
  body{
    margin-top: 10%;
  }
 }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  body{
    margin-top: 10%;
  }
 }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  body{
    margin-top: 10%;
  }
}
 
@media all and (max-width: 480px) { 
  body{
    margin-top: 20%;
    background-image: linear-gradient(#ececec, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.myContainer{
  width:100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.score-board{
  display: block;
  background-color: #c1bcf3;
  height: 65px;
  /* padding: 2px; */
  /* margin-top: -25px; */
  text-align: center;
  
}

.score-board p {
  margin: 10px 0 0 0;
}

#player1-score, #player2-score {
  font-size: 18px;
  font-weight: 500;
}

.player-active {
  height: 65px;
  transition: 1s ease-in-out;
  background-color: #1501dc2e;
}